<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingyuan.pigeon.mapper.TeamMapper">
    <resultMap id="Team" type="com.qingyuan.pigeon.pojo.Team">
        <id column="team_id" property="teamId" jdbcType="INTEGER"/>
        <result column="team_name" property="teamName" jdbcType="VARCHAR"/>
        <result column="activity_type" property="activityType" jdbcType="VARCHAR"/>
        <result column="memberCount_max" property="memberCountMax" jdbcType="VARCHAR"/>
        <result column="team_introduction" property="teamIntroduction" jdbcType="VARCHAR"/>
        <result column="teamAvatar_url" property="teamAvatarUrl" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="createTeam" parameterType="Team" useGeneratedKeys="true" keyProperty="teamId">
        insert into pigeon.team
        (team_id, team_name, activity_type, memberCount_max, team_introduction, teamAvatar_url)
        values (#{teamId,jdbcType=INTEGER},#{teamName,jdbcType=VARCHAR},#{activityType,jdbcType=VARCHAR},#{memberCountMax,jdbcType=VARCHAR},#{teamIntroduction,jdbcType=VARCHAR},#{teamAvatarUrl,jdbcType=VARCHAR})
    </insert>

    <update id="updateTeamAvatar">
        update pigeon.team
        set teamAvatar_url = #{avatarUrl,jdbcType=VARCHAR}
        where team_id = #{teamId,jdbcType=INTEGER}
    </update>

</mapper>