<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingyuan.pigeon.mapper.TeamMapper">
    <resultMap id="Team" type="com.qingyuan.pigeon.pojo.Team">
        <id column="team_id" property="teamId" jdbcType="INTEGER"/>
        <result column="team_name" property="teamName" jdbcType="VARCHAR"/>
        <result column="activity_type" property="activityType" jdbcType="VARCHAR"/>
        <result column="memberCount_max" property="memberCountMax" jdbcType="VARCHAR"/>
        <result column="team_introduction" property="teamIntroduction" jdbcType="VARCHAR"/>
        <result column="teamAvatar_url" property="teamAvatarUrl" jdbcType="VARCHAR"/>
        <result column="teamApply_count" property="teamApplyCount" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="createTeam" parameterType="com.qingyuan.pigeon.pojo.Team" useGeneratedKeys="true" keyProperty="teamId">
        insert into pigeon.team
        (team_id, team_name, activity_type, memberCount_max, team_introduction, teamAvatar_url, teamApply_count)
        values (#{teamId,jdbcType=INTEGER},#{teamName,jdbcType=VARCHAR},#{activityType,jdbcType=VARCHAR},#{memberCountMax,jdbcType=VARCHAR},#{teamIntroduction,jdbcType=VARCHAR},#{teamAvatarUrl,jdbcType=VARCHAR},#{teamApplyCount,jdbcType=INTEGER})
    </insert>

    <insert id="addTeamAdmin">
        insert into pigeon.team_menber
        (team_id, user_id, userAuthority)
        values (#{teamId, jdbcType=INTEGER}, #{userId, jdbcType=INTEGER}, #{userAuthority, jdbcType=INTEGER})
    </insert>

    <update id="updateTeamAvatar">
        update pigeon.team
        set teamAvatar_url = #{avatarUrl,jdbcType=VARCHAR}
        where team_id = #{teamId,jdbcType=INTEGER}
    </update>

    <select id="getTeamUserIds" resultType="java.lang.Integer">
        select user_id
        from pigeon.team_member
        where team_id = #{teamId, jdbcType = INTEGER}
    </select>

    <select id="getTeamById" resultMap="Team">
        select team_id, team_name, activity_type, memberCount_max, team_introduction, teamAvatar_url, teamApply_count
        from pigeon.team
        where team_id = #{teamId,jdbcType=INTEGER} limit 1
    </select>

    <select id="getTeamsByUserId" resultType="java.lang.Integer">
        select team_id
        from pegion.team_member
        where user_id = #{userId, jdbcType = INTEGER}
    </select>

    <select id="getTeamsByIdType" resultType="com.qingyuan.pigeon.pojo.Team">
        select team_id, team_name, activity_type, memberCount_max, team_introduction, teamAvatar_url, teamApply_count
        from pigeon.team
        where activity_type = #{activityType, jdbcType=VARCHAR}
    </select>
    <select id="getUserAuthority" resultType="com.qingyuan.pigeon.enums.UserAuthorityEnum">
        select userAuthority
        from pigeon.team_member
        where user_id = #{userId, jdbcType=INTEGER}, team_id = #{teamId, jdbcType=INTEGER}
    </select>
    <select id="getAdminIds" resultType="java.lang.Integer">
        select user_id
        from pigeon.team_member
    </select>

    <update id="updateTeamApplyCount">
        update pigeon.team
        set teamApply_count = #{teamApplyCount,jdbcType=INTEGER}
        where team_id = #{teamId,jdbcType=INTEGER}
    </update>
    <update id="updateTeamAdmin">
        update team_menber
        set userAuthority = #{userAuthority, jdbcType=INTEGER}
        where team_id = #{teamId, jdbcType=INTEGER}, user_id = #{userId, jdbcType=INTEGER}
    </update>

</mapper>