<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingyuan.pigeon.mapper.UserMessageMapper">
    <resultMap id="User" type="com.qingyuan.pigeon.pojo.User">
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_tel" property="userTel" jdbcType="VARCHAR"/>
        <result column="user_sex" property="userSex" jdbcType="VARCHAR"/>
        <result column="userImage_url" property="userImageUrl" jdbcType="VARCHAR"/>
        <result column="pigeonEgg_count" property="pigeonEggCount" jdbcType="INTEGER"/>
        <result column="user_pwd" property="userPwd" jdbcType="VARCHAR"/>
        <result column="user_introduction" property="userIntroduction" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
        insert into pigeon.user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userTel != null">
                user_tel,
            </if>
            <if test="userSex != null">
                user_sex,
            </if>
            <if test="userImageUrl != null">
                userImage_url,
            </if>
            <if test="pigeonEggCount != null">
                pigeonEgg_count,
            </if>
            <if test="userPwd != null">
                user_pwd,
            </if>
            <if test="userIntroduction!=null">
                user_introduction
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userTel != null">
                #{userTel,jdbcType=VARCHAR},
            </if>
            <if test="userSex != null">
                #{userSex,jdbcType=VARCHAR},
            </if>
            <if test="userImageUrl != null">
                #{userImageUrl,jdbcType=VARCHAR},
            </if>
            <if test="pigeonEggCount != null">
                #{pigeonEggCount,jdbcType=INTEGER},
            </if>
            <if test="userPwd != null">
                #{userPwd,jdbcType=VARCHAR},
            </if>
            <if test="userIntroduction!=null">
                #{userIntroduction,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <update id="updateUserImageUrl">
        UPDATE pigeon.user SET userImage_url = #{userImageUrl,jdbcType=VARCHAR}
        WHERE user_id  = #{userId,jdbcType=INTEGER}
    </update>

    <select id="getUserByTel" parameterType="java.lang.String" resultMap="User">
        select user_id,user_name,user_tel,user_sex,userImage_url,pigeonEgg_count,user_pwd,user_introduction
        from pigeon.user
        where user_tel = #{userTel,jdbcType=VARCHAR} limit 1
    </select>

    <select id="getUserById" resultType="com.qingyuan.pigeon.pojo.User" resultMap="User">
        select user_id,user_name,user_tel,user_sex,userImage_url,pigeonEgg_count,user_pwd,user_introduction
        from pigeon.user
        where user_id = #{userId,jdbcType=INTEGER} limit 1
    </select>

    <update id="updateUserMessage">
        UPDATE pigeon.user SET
        <if test="userName!=null">
            user_name =#{userName},
        </if>
        <if test="userTel!=null">
            user_tel =#{userTel},
        </if>
        <if test="userSex!=null">
            user_sex =#{userSex},
        </if>
        <if test="userIntroduction!=null">
            user_introduction = #{userIntroduction}
        </if>
        WHERE user_id =#{userId}
    </update>

    <select id="getUsersByTeamId" parameterType="java.lang.Integer" resultMap="User">
        select u.user_id,u.user_name,u.user_sex,u.user_tel,u.userImage_url,u.pigeonEgg_count,u.user_pwd,u.user_introduction
        from pigeon.user u, pigeon.team_member tm
        where tm.team_id = #{teamId,jdbcType=INTEGER} and u.user_id = tm.user_id
    </select>

    <update id="updatePigeonEggCount">
        update pigeon.user
        set pigeonEgg_count = pigeonEgg_count + #{pigeonEggCount,jdbcType=INTEGER}
        where user_id = #{userId,jdbcType=INTEGER}
    </update>

</mapper>